body {
    font-family: CormorantUnicaseSemiBold;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

/* Header */
.headerContainer {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerH1 {
    font-size: 90px;
    color: #ffffff;
    margin: 0;

    animation-name: slideIn;
    animation-duration: 1.1s;      
}

@keyframes slideIn {
    from {
        margin-top: -25px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}

/* Intro */
.introP {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    background-color: #000000;
    padding: 350px 0px;
    margin: 0;
}

/* Contact Us */
.contactUsH2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #ffffff;
    background-color: #000000;
    padding: 200px 0px 50px 0px;
    margin: 0;
}

.contactUsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
}

/* font-family Name이랑 Email에 따로 해주기 */
.ContactUsName {
    display: flex;
    font-family: CormorantUnicaseSemiBold;
    border-top: none;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 2.5px 0px;
    min-width: 400px;
    min-height: 25px;
}

.ContactUsEmail {
    display: flex;
    font-family: CormorantUnicaseSemiBold;
    border-top: none;
    padding: 0px 0px 0px 10px;
    margin: 2.5px 0px 2.5px 0px;
    min-width: 400px;
    min-height: 25px;
}

.ContactUsComments {
    display: flex;
    padding: 3px 0px 0px 10px;
    margin: 2.5px 0px 20px 0px;
    min-width: 400px;
    min-height: 100px;
}

.ContactUsButton {
    font-family: CormorantUnicaseSemiBold;
    font-size: 15px;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
    padding: 3px 10px 5px 10px;
}

/* Footer */
.footer {
    background-color: #000000;
    padding: 130px;
}